<div class="card">
    <div class="card-body">
      <h5 class="card-title">Alertas</h5>
      <div class="search-input-container">
        <!-- Input de búsqueda -->
        <input type="text" placeholder="Buscar..." [(ngModel)]="searchText" class="form-control search-input" />
        <svg class="search-icon" cIcon name="cilMagnifyingGlass"></svg>
      </div>
        <table class="table table-bordered table-striped">
            <thead>
            <tr>
                <th>Dispositivo</th>
                <th>Descripcion</th>
                <th>Fecha</th>
                <th>Ver Detalles</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let alert of filteredAlertas()| paginate: { itemsPerPage: 5, currentPage: p }; let i = index">
                <td>{{alert.dispositivo?.nombre}}</td>
                <td>{{alert.descripcion}}</td>
                <td>
                  <div>{{ alert.fecha ? alert.fecha.toString().split("T")[0]  : 'NA' }}</div>
                  <div class="small text-body-secondary text-nowrap"><span>{{ alert.fecha ? formatDate2(alert.fecha, 'HH:mm') : 'NA' }}</span></div>

                </td>
                <td>
                <button type="button" name="button"  class="btn btn-danger" (click)="mostrarDetalles(alert)">Detalles</button>
                </td>
            </tr>
            </tbody>
        </table>
      <div class="d-flex justify-content-center mt-3">
        <pagination-controls (pageChange)="p = $event"></pagination-controls>
      </div>
    </div>
  </div>

<c-modal [(visible)]="isModalVisible">
  <c-modal-header>
    <h5 class="modal-title">Detalles de la Alerta</h5>
    <button type="button" class="btn-close" aria-label="Close" (click)="cerrarDetalles()"></button>
  </c-modal-header>
  <c-modal-body *ngIf="alertSeleccionado">
    <p><strong>Dispositivo:</strong> {{alertSeleccionado.dispositivo.nombre}} - {{alertSeleccionado.dispositivo.modelo.nombre}} - {{alertSeleccionado.dispositivo.numSerie}}</p>
    <p><strong>Descripción de Alerta:</strong> {{alertSeleccionado.descripcion}}</p>
    <p><strong>Fecha de Alerta:</strong>{{ alertSeleccionado.fecha ? alertSeleccionado.fecha.toString().split("T")[0]  : 'NA' }} {{ alertSeleccionado.fecha ? formatDate2(alertSeleccionado.fecha, 'HH:mm') : 'NA' }} </p>
  </c-modal-body>
  <c-modal-footer>
    <button type="button" class="btn btn-secondary" (click)="cerrarDetalles()">Cerrar</button>
  </c-modal-footer>
</c-modal>



