.search-container {
  position: relative;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.search-icon {
  position: relative;
  bottom: 23px;
  left: 10px;
  transform: translateY(-50%);
  pointer-events: none;
}

.search-input {
  padding-left: 40px;
}
