<div class="card mb-4">
  <div class="card-body">
    <div class="row">
      <div class="col-lg-3">
        <h5>Resumen</h5>
      </div>
      <div class="col-lg-9">
        <div class="scrollable-list">
          <ul class="list-group list-group-horizontal">
            <!-- Ejemplo de ítems de lista -->
            <li class="list-group-item">Dispositivo 1</li>
            <li class="list-group-item">Dispositivo 2</li>
            <li class="list-group-item">Dispositivo 3</li>
            <li class="list-group-item">Dispositivo 1</li>
            <li class="list-group-item">Dispositivo 1</li>
            <!-- Puedes usar *ngFor para generar dinámicamente según tus datos -->
          </ul>
        </div>
      </div>
      <hr class="mt-4 mb-4" />
      <!-- Margen arriba y abajo para la línea divisora -->
    </div>
    <div class="row">
      <div class="col-lg-9">
        <section class="google-map">
          <app-ubicaciones style="width: 100%; height: 400px"></app-ubicaciones>
        </section>
      </div>
      <div class="col-lg-3">
        <section class="right-section text-right">
          <!-- Alineación a la derecha -->
          <div class="mb-4">
            <h5>Dispositivos</h5>
            <hr />
            <div class="scrollable-card">
              <ul class="list-group list-group-flush custom-list-group">
                <li
                [cPopoverTrigger]="'hover'"
                cButton
                cPopover="{{ estado.dispositivo?.modelo?.marca?.nombre + ' ' + estado.dispositivo?.modelo?.nombre }}"
                cPopoverPlacement="left"
                class="me-1"
                color="information"


                  class="list-group-item"
                  *ngFor="let estado of estados"
                  (click)="ubicarDispositivo(estado.dispositivo)"
                  (mouseenter)="hoverEffect($event, estado)"
                  (mouseleave)="hoverEffect($event, null)"
                  [ngClass]="{ selected: estado === selectedEstado }"
                  style="
                    max-width: 90%;
                    overflow: hidden;
                    text-overflow: ellipsis;
                  "
                >
                  {{ estado.dispositivo?.nombre }}
                </li>
              </ul>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
</div>

<div class="card">
  <div class="card-body">
    <h4>Estado de dispositivos</h4>
    <hr />
    <div class="table-responsive">
      <table class="table table-borderless table-striped table-fixed-header">
        <thead>
          <tr>
            <th>Conectado</th>
            <th>Dentro</th>
            <th>Nombre</th>
            <th>Categoría</th>
            <th>Batería</th>
            <th>Permisos</th> <!-- Columna de Permisos -->
            <th>Disponible</th>
            <th>Actualización</th>
          </tr>
        </thead>
        <tbody class="estado-center">
          <tr *ngFor="let estado of estados">
            <td>
              <span [ngClass]="estado.conexionInternet ? 'indicator green' : 'indicator red'"></span>
            </td>
            <td>
              <span [ngClass]="estado.dispositivo?.posicion?.dentro ? 'indicator green' : 'indicator red'"></span>
            </td>
            <td>
              <div [cPopoverTrigger]="'hover'" cButton [cPopover]="popoverContent" cPopoverPlacement="top" class="me-1" color="information">
                {{ estado.dispositivo?.nombre }}
              </div>
            </td>
    
            <!-- Añade este fragmento en el componente correspondiente -->
            <ng-template #popoverContent>
              {{ estado.dispositivo?.modelo?.marca?.nombre + ' ' + estado.dispositivo?.modelo?.nombre }}
              <div class="small text-body-secondary text-nowrap">
                <span>{{ estado.dispositivo?.numSerie }}</span>
              </div>
            </ng-template>
    
            <td>{{ estado.dispositivo?.categoria?.nombre }}</td>
            <td>
              <div class="progress">
                <div class="progress-bar bg-success" role="progressbar" [style.width.%]="estado.nivelBateria">
                  {{ estado.nivelBateria }}%
                </div>
              </div>
              <div class="small text-body-secondary text-nowrap">
                <span>{{ estado.cargando ? "Cargando..." : "" }}</span>
              </div>
            </td>
            <td>
              <!-- Columna de Permisos -->
              <div class="d-flex flex-column" [cPopoverTrigger]="'hover'" cButton [cPopover]="permisos" cPopoverPlacement="top" class="me-1" color="information">
                {{ getNumPermisos(estado) }}/4
              </div>
            </td>
            
            <ng-template #permisos>
              <div class="mb-1">
                <span [ngClass]="estado.localizacion ? 'indicator green' : 'indicator red'"></span>
                <span class="text-sm">Localización</span>
              </div>
              <div class="mb-1">
                <span [ngClass]="estado.gps ? 'indicator green' : 'indicator red'"></span>
                <span class="text-sm">GPS</span>
              </div>
              <div class="mb-1">
                <span [ngClass]="estado.phoneState ? 'indicator green' : 'indicator red'"></span>
                <span class="text-sm">Estado</span>
              </div>
              <div>
                <span [ngClass]="estado.notificaciones ? 'indicator green' : 'indicator red'"></span>
                <span class="text-sm">Notificaciones</span>
              </div>
            </ng-template>
            <td>
              <span [ngClass]="estado.dispositivo?.disponible ? 'indicator green' : 'indicator red'"></span>
            </td>
            <td>{{ estado.fechaActualizacion | amTimeAgo }}</td>
          </tr>
        </tbody>
      </table>
    </div>
    

    <div class="d-flex justify-content-center mt-3">
      <pagination-controls
        class="fontable"
        (pageChange)="p = $event"
      ></pagination-controls>
    </div>
  </div>
</div>
