
.map-container {
  width: 60%; /* ancho */
  height: 60px; /* alto*/
}

.map-container app-mapa {
  width: 100%;
  height: 100%;
}
.dashboard {
  font-family: Arial, sans-serif;
  //color: #fff;
  //background-color: #333;
  padding: 1px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px;
  //border-bottom: 1px solid #444;
}

.header-right button {
  //background-color: #555;
  //color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 0 5px;
  cursor: pointer;
}

.fontable{
 font-size: 0.7em;
  //color: #978f8f71;
}
.fontables{
  font-size: 0.9em;
   //color: #978f8f71;
 }


.stats {
  display: flex;
  justify-content: space-between;
  //border-bottom: 1px solid #444;
}

.stat {
  flex: 1; /* Ocupa el mismo espacio dentro del contenedor flex */
  text-align: center;
}

.stat .value {
  font-size: 1em;
  display: block;
}

.stat .label {
  font-size: 0.8em;
  //color: #ccc;
}

.content {
  display: flex;
  margin-top: 20px;
}

.geo-performance {
  flex: 2;
  padding-right: 20px;
}

.map {
  height: 800px;
 // background-color: #222;
}

.right-section {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.details, .user-experience, .top-slow {
  margin-bottom: 10px;
}

.detail, .experience {
  //background-color: #444;
  padding: 5px;
  margin: 1px 0;
  border-radius: 5px;
}

.detail .value, .experience .value {
  font-size: 1.5em;
  display: block;
}

.satisfaction {
  display: flex;
  justify-content: space-around;
}

.satisfied {
  color: #2ecc71;
}

.tolerating {
  color: #f39c12;
}

.frustrated {
  color: #e74c3c;
}

.top-slow table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 5px;
  text-align: left;
  
}


.page-views {
  margin-top: 20px;
  padding-top: 20px;
  //border-top: 1px solid #444;
}
