<div id="contenedor-cabecera">
  <select class="form-control" (change)="onZonaSeguraChange($event)">
    <option value="null" disabled selected>Seleccione una Zona Segura</option>
    <option *ngFor="let zonaSegura of zonasSeguras" [value]="zonaSegura.idZonaSegura">
      {{ zonaSegura.descripcion }}
    </option>
  </select>
</div>
<div id="map-container">
  <google-map
    height="420px"
    width="100%"
    [center]="center"
    [zoom]="zoom"
  >
  </google-map>
</div>
<div id="final_mapa">
  <div class="lado_izquierdo">
    
  </div>
    <!--BOTONES PARA ELIMINAR Y EDITAR-->
    <div class="lado_derecho">
      <div #btndelete_edit *ngIf="showOptions" [style.top.px]="clickPosition.y" [style.left.px]="clickPosition.x" class="context-menu">
        <button id="boton_editar" (click)="editPolygon()">Editar</button>
        <button class="botones" (click)="deletePolygon()">Eliminar</button>
      </div>
    </div>
</div>