// Variables
$primary-color: #007bff; // Color primario, puedes ajustarlo según tus preferencias

// Estilos para el combobox
#zona-segura-select {
  appearance: none; // Oculta el estilo por defecto del navegador
  -webkit-appearance: none; // Para navegadores basados en WebKit
  -moz-appearance: none; // Para navegadores basados en Mozilla
  padding: 8px; // Espacio interno
  font-size: 16px; // Tamaño de fuente
  border: 1px solid #ccc; // Borde
  border-radius: 4px; // Bordes redondeados
  background-color: #fff; // Color de fondo
  width: 100%; // Ancho completo del contenedor
  max-width: 300px; // Ancho máximo ajustable

  // Estilo para las opciones del combobox
  option {
    background-color: #fff; // Color de fondo
    color: #333; // Color del texto
  }
}

// Estilo para el contenedor del mapa
#map-container {
  margin-top: 20px; // Margen superior
}

.boton-derecha {
  float: right;
  margin-left: 40%;
}

#contenedor-cabecera{
  display: flex;
  
}

#final_mapa {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.lado_izquierdo {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.lado_derecho {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.botones {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-left: 10px; /* Espacio entre los botones */
}

.botones:hover {
  background-color: #0056b3;
}

