#guardar-prestamo {
    align-self: center;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #db5d5d;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#guardar-prestamo:hover {
    background-color: #249542;
}

  .tooltip-container {
    position: absolute; /* Asegura que el tooltip no afecte al flujo normal de la página */
    transform: translateX(-120%);
  }

  .tooltip-container .arrow {
    position: absolute;
    top: 100%; /* Posiciona la flecha del tooltip */
    right: 20px;
    border-width: 0.5rem;
    border-style: solid;
    border-color: transparent;
    border-top-color: #dc3545; /* Color del borde del tooltip */
  }


