#guardar-prestamo {
    align-self: center;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #db5d5d;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#guardar-prestamo:hover {
    background-color: #249542;
}

.ng-touched.ng-invalid {
  border-color: #dc3545; /* color rojo para indicar error */
}

.invalid-feedback {
  display: none;
}

.ng-touched.ng-invalid ~ .invalid-feedback {
  display: block;
}
