<c-toaster [placement]="position" class="p-3" position="fixed" style="position: fixed; top: 20px; right: 20px; z-index: 1050;">
  <c-toast
    (timer)="onTimerChange($event)"
    (visibleChange)="onVisibleChange($event)"
    [visible]="visible"
    class="success-toast">
    <c-toast-header class="success-toast-header">
      <svg cIcon name="cilCheck" class="icon-success"></svg> <!-- Icono de éxito -->
      <h5 class="success-heading">Creacion de Prestamo exitoso</h5>
    </c-toast-header>
    <c-toast-body class="success-toast-body">
      <p class="success-toast-message">Prestamo creado con exito</p>
    </c-toast-body>
  </c-toast>
</c-toaster>
<c-toaster [placement]="position2" class="p-3" position="fixed" style="position: fixed; top: 20px; right: 20px; z-index: 1050;">
  <c-toast
    (timer)="onTimerChange2($event)"
    (visibleChange)="onVisibleChange2($event)"
    [visible]="visible2"
    class="danger-toast">
    <c-toast-header class="danger-toast-header">
      <svg cIcon name="cilReportSlash" class="icon-danger"></svg> <!-- Icono de error -->
      <h5 class="error-heading">   Error al crear prestamo</h5>
    </c-toast-header>
    <c-toast-body class="danger-toast-body">
      <p class="danger-toast-message">Error al ingresar los datos</p>
    </c-toast-body>
  </c-toast>
</c-toaster>
<div class="card">
  <div class="card-body">

    <div style="display: flex; justify-content: space-between; align-items: center;">
      <h5 class="card-title" style="margin-bottom: 0;">Préstamos</h5>
      <div *ngIf="!mostrarFormularioEditar">
        <button type="button" class="btn btn-outline-success bi bi-plus-circle" (click)="ingresarPrestamo()">
          Ingresar Prestamo
        </button>
      </div>
    </div>

    <div *ngIf="mostrarFormularioIngreso && !mostrarFormularioEditar">
      <form [formGroup]="registerFormIn" (ngSubmit)="onSubmit2()">
        <h1>Ingresar Prestamo</h1>
        <c-input-group class="mb-3">
          <span cInputGroupText>
            <svg cIcon name="cilUser"></svg>
          </span>
          <select class="form-select" formControlName="beneficiario" cFormControl required>
            <option value="" disabled selected>Seleccione un Beneficiario</option>
            <option *ngFor="let persona of personas" [value]="persona.id_persona">
              {{ persona.nombre }} {{ persona.apellido }}
            </option>
          </select>
          <div *ngIf="registerFormIn.controls['beneficiario']?.invalid && registerFormIn.controls['beneficiario']?.touched" class="invalid-feedback">
            El Beneficiario es obligatorio.
          </div>
        </c-input-group>
        <c-input-group class="mb-3">
          <span cInputGroupText>
            <svg cIcon name="cil-phone"></svg>
          </span>
          <select class="form-select" formControlName="dispositivo" cFormControl required>
            <option value="" disabled selected>Seleccione un Dispositivo</option>
            <option *ngFor="let dispo of dispositivos" [value]="dispo.idDispositivo">
              {{ dispo.nombre }}-{{ dispo.modelo?.marca?.nombre }}
            </option>
          </select>
          <div *ngIf="registerFormIn.controls['dispositivo']?.invalid && registerFormIn.controls['dispositivo']?.touched" class="invalid-feedback">
            El Dispositivo es obligatorio.
          </div>
        </c-input-group>
        <c-input-group class="mb-3">
          <span cInputGroupText>
            <svg cIcon name="cil-clock"></svg>
          </span>
          <input formControlName="fecha" type="datetime-local" cFormControl placeholder="Fecha Devolucion" required
                 min="{{ hoy | date: 'yyyy-MM-ddTHH:mm' }}"
          />
          <div *ngIf="registerFormIn.controls['fecha']?.invalid && registerFormIn.controls['fecha']?.touched" class="invalid-feedback">
            El Fecha es obligatoria.
          </div>
        </c-input-group>
        <c-input-group class="mb-3">
          <span cInputGroupText>
            <svg cIcon name="cil-comment-bubble"></svg>
          </span>
          <input formControlName="motivo" cFormControl placeholder="Motivo" required
          />
          <div *ngIf="registerFormIn.controls['motivo']?.invalid && registerFormIn.controls['motivo']?.touched" class="invalid-feedback">
            El Motivo es obligatorio.
          </div>
        </c-input-group>
        <div class="d-grid">
          <button cButton color="success" type="submit">Guardar Prestamo</button>
        </div><br>
        <div class="d-grid">
          <button cButton color="secondary" type="button" (click)="ingresarPrestamo()">Cancelar</button>
        </div>
      </form>
    </div>
    <div *ngIf="!mostrarFormularioIngreso &&!mostrarFormularioEditar">
      <div class="search-container">
        <div class="search-input-container">
          <!-- Input de búsqueda -->
          <input type="text" placeholder="Buscar..." [(ngModel)]="searchText" (ngModelChange)="onSearchTextChange()"  class="form-control search-input" />
          <svg class="search-icon" cIcon name="cilMagnifyingGlass"></svg>
        </div>

        <!-- Select para filtrar por estado -->
        <select class="form-control search-select" [(ngModel)]="filtroEstado" (ngModelChange)="onFiltroEstadoChange()">
          <option value="todos">Todos</option>
          <option value="prestado">Prestados</option>
          <option value="finalizado">Finalizados</option>
        </select>

        <div class="date-range-container ml-3">
          <div class="input-group">
            <input type="date" class="form-control" [(ngModel)]="fechaInicio" (change)="filterByDateRange()" />
            <div class="input-group-text">a</div>
            <input type="date" class="form-control" [(ngModel)]="fechaFin" (change)="filterByDateRange()" />
          </div>
        </div>
      </div>

      <table class="table table-bordered table-striped" >
        <thead>
        <tr>
          <th>Beneficiario</th>
          <th>Dispositivo</th>
          <th>Fecha Prestamo</th>
          <th>Fecha Devolucion</th>
          <th>Tiempo Restante</th>
          <th>Finalizado</th>
          <th>Finalizar</th>
<!--          <th>Editar</th>-->
          <th>Eliminar</th>
          <th>Historico</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let prestamo of filteredPrestamos()  | paginate: { itemsPerPage: 5, currentPage: p }; let i = index">
          <td><div>{{ prestamo.persona?.nombre}} {{ prestamo.persona?.apellido }}  </div>
             <div class="small text-body-secondary text-nowrap">
               <span>{{ prestamo.persona?.cedula }} </span></div>
          </td>
          <td><div>{{ prestamo.dispositivo?.nombre }} {{ prestamo.dispositivo?.modelo?.marca?.nombre}}</div>
            <div class="small text-body-secondary text-nowrap"><span>{{ prestamo.dispositivo?.numSerie }} {{ prestamo.dispositivo?.modelo?.nombre}}</span></div>
            </td>
          <td>
            <div>{{ prestamo.fecha_prestamo ? prestamo.fecha_prestamo.toString().split("T")[0]  : 'NA' }}</div>
            <div class="small text-body-secondary text-nowrap"><span>{{ prestamo.fecha_prestamo ? formatDate2(prestamo.fecha_prestamo, 'HH:mm') : 'NA' }}</span></div>
          </td>
          <td>
            <div>{{ prestamo.fecha_finalizacion ? prestamo.fecha_finalizacion.toString().split("T")[0]: 'NA' }}</div>
            <div class="small text-body-secondary text-nowrap"><span>{{ prestamo.fecha_finalizacion ? formatDate2(prestamo.fecha_finalizacion, 'HH:mm') : 'NA' }}</span></div>
          </td>
          <td>
            <div [ngClass]="{'text-danger': calcularTiempoRestante(prestamo) === 'Caducado'}">
              {{ calcularTiempoRestante(prestamo) }}
            </div>
          </td>
          <td>
            <div class="fw-semibold text-nowrap" [ngStyle]="{ 'color': prestamo.finalizado ? 'green' : 'red', 'font-weight': prestamo.finalizado ? 'bold' : 'normal' }">
              {{ prestamo.finalizado? 'Finalizado' : 'Prestado' }}
            </div>
          <td>
            <button type="button" (click)="toggleLiveDemo2(i)" class="btn btn-success" [disabled]="prestamo.finalizado">
              <svg cIcon name="cilCheck" size="lg"></svg>
            </button>
          </td>
<!--          <td>-->
<!--            <button type="button" name="button" (click)="edit(i)" class="btn btn-primary"><svg cIcon name="cilPencil" size="lg"></svg></button>-->
<!--          </td>-->
          <td>
            <button type="button" (click)="eliminarPrestamo(prestamo.id_prestamo)" class="btn btn-danger"><svg cIcon name="cilTrash" size="lg"></svg></button>
          </td>
          <td>
            <button type="button" (click)="listarhistoalertas(prestamo) "class="btn btn-secondary" ><svg cIcon name="cil-print"></svg></button>
          </td>
        </tr>

        </tbody>
      </table>
      <div class="d-flex justify-content-center mt-3">
        <pagination-controls (pageChange)="p = $event"></pagination-controls>
      </div>
    </div>
    <div *ngIf="filaEditada !== null &&!mostrarFormularioIngreso &&mostrarFormularioEditar">

          <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
            <h1>Editar</h1>
            <c-input-group class="mb-3">
                <span cInputGroupText>
                  <svg cIcon name="cilCreditCard"></svg>
                </span>
              <select class="form-select" formControlName="beneficiario" required
              >
                <option value="" disabled selected>Seleccione un Beneficiario</option>
                <option *ngFor="let persona of personas" [value]="persona.id_persona">
                  {{ persona.nombre }} {{ persona.apellido }}
                </option>
              </select>
              <div *ngIf="registerForm.controls['beneficiario']?.invalid && registerFormIn.controls['beneficiario']?.touched" class="invalid-feedback">
                El Beneficiario es obligatorio.
              </div>
            </c-input-group>
            <c-input-group class="mb-3">
                <span cInputGroupText>
                  <svg cIcon name="cilItalic"></svg>
                </span>
              <select class="form-select" formControlName="dispositivo" required
              >
                <option value="" disabled selected>Seleccione un Dispositivo</option>
                <option *ngFor="let dispo of dispositivos" [value]="dispo.idDispositivo">
                  {{ dispo.nombre }}-{{ dispo.modelo?.marca?.nombre }}
                </option>
              </select>
              <div *ngIf="registerForm.controls['dispositivo']?.invalid && registerFormIn.controls['dispositivo']?.touched" class="invalid-feedback">
                El Dispositivo es obligatorio.
              </div>
            </c-input-group>
            <c-input-group class="mb-3">
                <span cInputGroupText>
                  <svg cIcon name="cilItalic"></svg>
                </span>
              <input formControlName="fecha" type="datetime-local" cFormControl placeholder="Fecha Devolucion" required
                     min="{{ hoy | date: 'yyyy-MM-ddTHH:mm' }}"
              />
              <div *ngIf="registerForm.controls['fecha']?.invalid && registerFormIn.controls['fecha']?.touched" class="invalid-feedback">
                La Fecha es obligatoria.
              </div>
            </c-input-group>
            <c-input-group class="mb-3">
                <span cInputGroupText>
                  <svg cIcon name="cilUser"></svg>
                </span>
              <input formControlName="motivo" cFormControl placeholder="Motivo" required
              />
              <div *ngIf="registerForm.controls['motivo']?.invalid && registerFormIn.controls['motivo']?.touched" class="invalid-feedback">
                El Motivo es obligatorio.
              </div>
            </c-input-group>
            <c-input-group class="mb-3">
                <span cInputGroupText>
                  <svg cIcon name="cilUser"></svg>
                </span>
              <select class="form-select" formControlName="estado_devolucion" required
              >
                <option value="" disabled selected>Seleccione Estado Devolución</option>
                <option value="Pendiente">Pendiente</option>
                <option value="Devuelto">Devuelto</option>
                <option value="Perdido">Perdido</option>
                <option value="Dañado">Dañado</option>
              </select>
              <div *ngIf="registerForm.controls['estado_devolucion']?.invalid && registerFormIn.controls['estado_devolucion']?.touched" class="invalid-feedback">
                El Estado de Devolucion es obligatorio.
              </div>
            </c-input-group>
            <c-input-group class="mb-3">
                <span cInputGroupText>
                  <svg cIcon name="cilUser"></svg>
                </span>
              <select class="form-select" formControlName="finalizado" cFormControl required>
                <option value="" disabled selected>Seleccione si Finalizado</option>
                <option [value]="true">Sí</option>
                <option [value]="false">No</option>
              </select>
              <div *ngIf="registerForm.controls['finalizado']?.invalid && registerFormIn.controls['finalizado']?.touched" class="invalid-feedback">
                Indique si esta finalizado el prestamo.
              </div>
            </c-input-group>
            <div class="d-grid">
              <button cButton color="success" type="submit">Guardar Cambios</button>
            </div><br>
            <div class="d-grid">
              <button cButton color="secondary" type="button" (click)="cancelarEdicion()">Cancelar</button>
            </div>
          </form>
    </div>

  </div>
</div>

<c-modal id="liveDemoModal" [visible]="visible3" (visibleChange)="handleLiveDemoChange($event)" class="modal-custom">
    <c-modal-header class="modal-header-custom">
      <svg cIcon class="icon-device me-2" name="cilMobile" size="lg"></svg>

      <h5 cModalTitle>Estado de devolucion</h5>
    </c-modal-header>
    <c-modal-body>
      <div class="d-flex align-items-center">
        <img src="https://www.insidehighered.com/sites/default/files/media/barber%20handshake.jpg" alt="Secretary" class="rounded-circle me-3">
        <div>
          <form [formGroup]="finalizarForm" (ngSubmit)="onFinalizarSubmit()">
            <div class="mb-3">
              <label class="form-label">Estado de Devolución</label>
              <input formControlName="estado_devolucion" cFormControl placeholder="Estado de Devolucion" required
              />
              <div *ngIf="finalizarForm.controls['estado_devolucion']?.invalid && finalizarForm.controls['estado_devolucion']?.touched" class="invalid-feedback">
                El Estado de Devolucion es obligatorio.
              </div>
            </div>
            <div class="d-grid">
              <button type="submit" class="btn btn-success">Finalizar</button>
            </div>
          </form>
        </div>
      </div>
    </c-modal-body>
    <c-modal-footer>
      <button (click)="toggleLiveDemo2(0)" cButton color="secondary">Cerrar</button>
    </c-modal-footer>

</c-modal>

