.form-group {
    margin-bottom: 15px;
  }

  .form-control {
    width: 100%;
  }

  .btn {
    margin-top: 10px;
  }
  .morado {
    color: #5856d6; /* Color morado */
    font-weight: bold; /* Texto en negrita */
  }
  .full-width-range {
    width: 100%;
  }

/* styles.css */
.pointer-cursor {
  cursor: pointer;
}

.icon-secretary {
  color: #6c757d;
}


img.rounded-circle {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.alerta-header {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  margin-bottom: 5px;
}

.alerta-fecha, .alerta-dispositivo {
  font-size: 17px;
}

.alerta-descripcion {
  margin: 0;
  font-size: 16px;
}

.c-dropdown-menu {
  background-color: #ffffff; /* Fondo blanco */
  border: 1px solid #eaeaea; /* Borde gris claro */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra */
}

.c-dropdown-menu h5 {
  color: #f3f4f7; /* Color del texto del título */
}

.close {
  cursor: pointer;
  background: none;
  border: none;
  font-size: 1.5rem;
  line-height: 1;
  color: #000;
  opacity: 0.5;
}

.close:hover {
  color: #000;
  text-decoration: none;
  opacity: 0.75;
}

.alerta-item {
  display: flex;
  align-items: center;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.alerta-item:hover {
  background-color: #2a303d;
  color: #ffffff;
}
.modal {
  z-index: 1050; /* O cualquier valor mayor que otros elementos en la página */
}

.notification-button {
  position: relative;
  padding: 0;
  border: none;
  background: none;
}

.notification-badge {
  position: absolute;
  top: -10px; /* Ajusta la posición superior */
  right: -10px; /* Ajusta la posición derecha */
  font-size: 0.6rem; /* Tamaño de fuente más pequeño */
  padding: 0.2em 0.3em; /* Ajuste de padding para hacer el badge más pequeño */
  display: flex;
  align-items: center;
  justify-content: center;
}
