.form-group {
    margin-bottom: 15px;
  }
  
  .form-control {
    width: 100%;
  }
  
  .btn {
    margin-top: 10px;
  }
  .morado {
    color: #5856d6; /* Color morado */
    font-weight: bold; /* Texto en negrita */
  }