<ng-container>
  
  <c-container [fluid]="true" class="border-bottom px-4">
    <button
      [cSidebarToggle]="sidebarId"
      cHeaderToggler
      class="btn"
      toggle="visible"
      style="margin-inline-start: -14px"
      aria-label="Toggle sidebar navigation"
    >
      <svg cIcon name="cilMenu" size="lg"></svg>
    </button>
    <c-header-nav class="d-none d-md-flex">
      <!--      <c-nav-item>-->
      <!--        <a cNavLink routerLink="/dashboard" routerLinkActive="active">Dashboard</a>-->
      <!--      </c-nav-item>-->
      <!--      <c-nav-item>-->
      <!--        <a cNavLink routerLink="/users" routerLinkActive="active">Users</a>-->
      <!--      </c-nav-item>-->
      <!--      <c-nav-item>-->
      <!--        <a cNavLink routerLink="/settings" routerLinkActive="active">Settings</a>-->
      <!--      </c-nav-item>-->
    </c-header-nav>

    <c-header-nav class="d-none d-md-flex ms-auto">
      <!--      <a cNavLink>-->
      <!--        <svg cIcon class="my-1" name="cilBell" size="lg"></svg>-->
      <!--      </a>-->
      <ng-container *ngTemplateOutlet="AlertDropdown" />

      <!--      <a cNavLink>-->
      <!--        <svg cIcon class="my-1" name="cilList" size="lg"></svg>-->
      <!--      </a>-->
      <!--      <a cNavLink>-->
      <!--        <svg cIcon class="my-1" name="cilEnvelopeOpen" size="lg"></svg>-->
      <!--      </a>-->
    </c-header-nav>

    <c-header-nav class="ms-auto ms-md-0">
      <ng-container *ngTemplateOutlet="ConfigDropdown" />
    </c-header-nav>

    <c-header-nav class="ms-auto ms-md-0">
      <div class="nav-item py-1">
        <div class="vr h-100 mx-2 text-body text-opacity-75"></div>
      </div>
      <ng-container *ngTemplateOutlet="themeDropdown" />
      <div class="nav-item py-1">
        <div class="vr h-100 mx-2 text-body text-opacity-75"></div>
      </div>
    </c-header-nav>

    <c-header-nav class="mx-0">
      <ng-container *ngTemplateOutlet="userDropdown" />
    </c-header-nav>
  </c-container>
  <!--  <c-container [fluid]="true" class="px-4">-->
  <!--    <c-breadcrumb-router />-->
  <!--  </c-container>-->
</ng-container>
<!--</c-header>-->

<ng-template #userDropdown>
  <c-dropdown
    [popperOptions]="{ placement: 'bottom-start' }"
    variant="nav-item"
  >
    <button
      [caret]="false"
      cDropdownToggle
      class="py-0 pe-0"
      aria-label="Open user menu"
    >
      <c-avatar
        shape="rounded-1"
        [size]="'md'"
        src="./assets/jedanklosin.ico"
        status="success"
        textColor="primary"
        alt="User avatar"
      />
    </button>
    <ul cDropdownMenu class="pt-0 w-auto">
      <li>
        <h6
          cDropdownHeader
          class="bg-body-secondary text-body-secondary fw-semibold py-2 rounded-top"
        >
          Notificaciones
        </h6>
      </li>
      <li>
        <a cDropdownItem routerLink="/alerta">
          <svg cIcon class="me-2" name="cilBell"></svg>
          Alertas
          <c-badge class="ms-2 float-end" color="info"> !!</c-badge>
        </a>
      </li>
      <li></li>
      <li>
        <a cDropdownItem class="pointer-cursor" routerLink="/perfil">
          <svg cIcon class="me-2" name="cilUser"></svg>
          Perfil
        </a>
      </li>
      <!--        <a cDropdownItem routerLink="/apps/email/inbox">-->
      <!--          <svg cIcon class="me-2" name="cilEnvelopeOpen"></svg>-->
      <!--          Messages-->
      <!--          <c-badge class="ms-2 float-end" color="success">-->
      <!--            42-->
      <!--          </c-badge>-->
      <!--        </a>-->
      <!--      </li>-->
      <!--      <li>-->
      <!--        <a cDropdownItem routerLink="">-->
      <!--          <svg cIcon class="me-2" name="cilTask"></svg>-->
      <!--          Tasks-->
      <!--          <c-badge class="ms-2 float-end" color="danger"> 42</c-badge>-->
      <!--        </a>-->
      <!--      </li>-->
      <!--      <li>-->
      <!--        <a cDropdownItem routerLink="">-->
      <!--          <svg cIcon class="me-2" name="cilCommentSquare"></svg>-->
      <!--          Comments-->
      <!--          <c-badge class="ms-auto" color="warning"> 42</c-badge>-->
      <!--        </a>-->
      <!--      </li>-->
      <li>
        <h6
          cDropdownHeader
          class="bg-body-secondary text-body-secondary fw-semibold py-2"
        >
          Salir
        </h6>
      </li>
      <li></li>

      <!--      <li>-->
      <!--        <a cDropdownItem routerLink="">-->
      <!--          <svg cIcon class="me-2" name="cilSettings"></svg>-->
      <!--          Settings-->
      <!--        </a>-->
      <!--      </li>-->
      <!--      <li>-->
      <!--        <a cDropdownItem routerLink="">-->
      <!--          <svg cIcon class="me-2" name="cilCreditCard"></svg>-->
      <!--          Payments-->
      <!--          <c-badge class="ms-2 float-end" color="secondary">-->
      <!--            42-->
      <!--          </c-badge>-->
      <!--        </a>-->
      <!--      </li>-->
      <!--      <li>-->
      <!--        <a cDropdownItem routerLink="">-->
      <!--          <svg cIcon class="me-2" name="cilFile"></svg>-->
      <!--          Projects-->
      <!--          <c-badge class="ms-2 float-end" color="primary">-->
      <!--            42-->
      <!--          </c-badge>-->
      <!--        </a>-->
      <!--      </li>-->
      <li>
        <hr cDropdownDivider />
      </li>
      <!--      <li>-->
      <!--        <a cDropdownItem routerLink="" (click)="logout()">-->
      <!--          <svg cIcon class="me-2" name="cilLockLocked"></svg>-->
      <!--          Lock Account-->
      <!--        </a>-->
      <!--      </li>-->
      <li>
        <a cDropdownItem routerLink="" (click)="logout()">
          <svg cIcon class="me-2" name="cilAccountLogout"></svg>
          Logout
        </a>
      </li>
    </ul>
  </c-dropdown>
</ng-template>

<ng-template #themeDropdown>
  <c-dropdown alignment="end" variant="nav-item">
    <button [caret]="false" cDropdownToggle aria-label="Open theme picker">
      <svg cIcon [name]="icons()" size="lg"></svg>
    </button>
    <div cDropdownMenu>
      @for (mode of colorModes; track mode.name) {
      <button
        (click)="colorMode.set(mode.name)"
        [active]="colorMode() === mode.name"
        [routerLink]="[]"
        cDropdownItem
        class="d-flex align-items-center"
      >
        <svg cIcon class="me-2" [name]="mode.icon" size="lg"></svg>
        {{ mode.text }}
      </button>
      }
    </div>
  </c-dropdown>
</ng-template>

<ng-template #ConfigDropdown>
  <c-dropdown alignment="end" variant="nav-item" [autoClose]="false">
    <button
      [caret]="false"
      cDropdownToggle
      aria-label="Open configuration picker"
      (click)="crud_close()"
    >
      <svg cIcon name="cilSettings" size="lg"></svg>
    </button>
    <div cDropdownMenu style="width: 260px; padding: 10px">
      <!-- Ajuste de anchura y padding -->
      <div>
        <h5 class="card-title d-flex align-items-center mb-3">
          Tiempo de reporte
        </h5>
        <h5 class="card-title d-flex align-items-center mb-3">
          Configuración Actual
          <span class="ms-2">
            <span class="d-inline-block">
              <button class="btn p-0 ml-2" (click)="desplegarcrud()">
                <svg cIcon name="cilPencil" size="lg"></svg>
              </button>
            </span>
          </span>
        </h5>

        <div style="margin-left: 10px">
          <!-- Ajuste de margen izquierdo -->
          <span>Tiempo de Respuesta</span>
          <label class="d-block mt-2">
            <div class="morado">
              {{ configuracion.tiempoRespuesta }} Segundos
            </div>
          </label>
          <!-- Aquí van los campos para editar la configuración -->

          <div *ngIf="showTable">
            <label cLabel for="customRange1"
              >Segundos: <strong>{{ value }}</strong></label
            >
            <br />
            <input
              [(ngModel)]="value"
              cFormControl
              id="customRange1"
              [max]="480"
              [min]="1"
              type="range"
              class="full-width-range"
            />
            <br />
            <button
              type="submit"
              class="btn btn-primary"
              (click)="actualizartiempo()"
            >
              Guardar
            </button>
          </div>
        </div>
      </div>
    </div>
  </c-dropdown>
</ng-template>
<ng-template #AlertDropdown>
  <c-dropdown alignment="end" variant="nav-item" [autoClose]="false">
    <button [caret]="false" cDropdownToggle aria-label="Open configuration picker">
      <svg cIcon name="cilBell" size="lg"></svg>
    </button>
    <div cDropdownMenu class="dropdown-menu dropdown-menu-end p-0" style="width: 400px; max-height: 450px">
      <div class="d-flex align-items-center justify-content-center mb-3">
        <h5 class="card-title">Notificaciones</h5>
      </div>
      <div class="card border-top" style="width: 100%; max-height: 450px; overflow-y: auto" (scroll)="onScroll($event)">
        <div *ngFor="let alerta of alertas" class="alerta-item" (click)="abrirAlertaInfo(alerta)">
          <!-- Imagen redonda -->
          <img src="{{ iconoAlerta }}" alt="Imagen de alerta" class="rounded-circle me-3" style="width: 50px; height: 50px" />
    
          <!-- Contenedor de nombre y contenido -->
          <div>
            <!-- Mostrar solo la descripción y fecha -->
            <p class="alerta-descripcion mb-2">{{ alerta.descripcion }}</p>
            <span class="small">{{ alerta.fecha | amTimeAgo }}</span>
          </div>
        </div>
    
        <div *ngIf="loadingMore && !allAlertsLoaded" class="text-center text-muted my-2">
          <span class="small">Cargando más alertas...</span>
        </div>
        
        <div *ngIf="this.allAlertsLoaded" class="text-center text-muted my-2">
          <span class="small">No hay más alertas para mostrar.</span>
        </div>

        <div *ngIf="this.alertas.length ==0" class="text-center text-muted my-2">
          <span class="small">No hay alertas para mostrar.</span>
        </div>
      </div>
      
    </div>
  </c-dropdown>
</ng-template>



<c-modal [(visible)]="isAlertaInfo" [backdrop]="false">
  <c-modal-header class="bg-primary text-white">
    <h5 class="modal-title">Detalles de la Alerta y Dispositivo</h5>
    <button type="button" class="btn-close text-white" aria-label="Close" (click)="cerrarAlertaInfo()"></button>
  </c-modal-header>
  <c-modal-body *ngIf="alertSeleccionado" style="max-height: calc(100vh - 200px); overflow-y: auto;">
    <!-- Sección 1: Descripción de la Alerta y Fecha -->
    <div class="card mb-3">
      <div class="card-body">
        <div class="row">
          <div class="col-4"><strong>Descripción de Alerta:</strong></div>
          <div class="col-8 text-end">{{alertSeleccionado.descripcion}}</div>
        </div>
        <hr />
        <div class="row">
          <div class="col-4"><strong>Fecha de Alerta:</strong></div>
          <div class="col-8 text-end">{{ alertSeleccionado.fecha | date : "dd/MM/yyyy HH:mm" }}</div>
        </div>
      </div>
    </div>

    <!-- Sección 2: Información del Dispositivo y Estado -->
    <div class="card">
      <div class="card-body">
        <!-- Información del Dispositivo -->
        <div class="mb-3" *ngIf="alertSeleccionado.dispositivo">
          <div class="row">
            <div class="col-4"><strong>Dispositivo:</strong></div>
            <div class="col-8 text-end">{{alertSeleccionado.dispositivo.nombre}}</div>
          </div>
          <hr />
          <div class="row">
            <div class="col-4"><strong>Marca:</strong></div>
            <div class="col-8 text-end">{{alertSeleccionado.dispositivo.modelo?.marca?.nombre}}</div>
          </div>
          <hr />
          <div class="row">
            <div class="col-4"><strong>Modelo:</strong></div>
            <div class="col-8 text-end">{{alertSeleccionado.dispositivo.modelo?.nombre}}</div>
          </div>
          <hr />
          <div class="row">
            <div class="col-4"><strong>Número de Serie:</strong></div>
            <div class="col-8 text-end">{{alertSeleccionado.dispositivo.numSerie}}</div>
          </div>
          <hr />
          <div class="row">
            <div class="col-4"><strong>Categoría:</strong></div>
            <div class="col-8 text-end">{{alertSeleccionado.dispositivo?.categoria?.nombre}}</div>
          </div>
        </div>
        <hr />

        <!-- Estado del Dispositivo -->
        <div *ngIf="estadoDispositivo">
          <h6 class="mb-3">Estado del Dispositivo</h6>
          <div class="row mb-2">
            <div class="col-4"><strong>Última Actualización:</strong></div>
            <div class="col-8 text-end">{{ estadoDispositivo.fechaActualizacion | date : "dd/MM/yyyy HH:mm" }}</div>
          </div>
          <hr />
          <div class="row mb-2">
            <div class="col-4"><strong>Nivel de Batería:</strong></div>
            <div class="col-8 text-end">{{ estadoDispositivo.nivelBateria }}%</div>
          </div>
          <hr />
          <div class="row mb-2">
            <div class="col-4"><strong>Cargando:</strong></div>
            <div class="col-8 text-end">{{ estadoDispositivo.cargando ? 'Sí' : 'No' }}</div>
          </div>
          <hr />
          <div class="row mb-2">
            <div class="col-4"><strong>GPS:</strong></div>
            <div class="col-8 text-end">{{ estadoDispositivo.gps ? 'Activo' : 'Inactivo' }}</div>
          </div>
          <hr />
          <div class="row mb-2">
            <div class="col-4"><strong>Estado del Teléfono:</strong></div>
            <div class="col-8 text-end">{{ estadoDispositivo.phoneState ? 'Disponible' : 'No Disponible' }}</div>
          </div>
          <hr />
          <div class="row mb-2">
            <div class="col-4"><strong>Notificaciones:</strong></div>
            <div class="col-8 text-end">{{ estadoDispositivo.notificaciones ? 'Habilitadas' : 'Deshabilitadas' }}</div>
          </div>
          <hr />
          <div class="row mb-2">
            <div class="col-4"><strong>Localización:</strong></div>
            <div class="col-8 text-end">{{ estadoDispositivo.localizacion ? 'Permitida' : 'No Permitida' }}</div>
          </div>
          <hr />
          <div class="row mb-2">
            <div class="col-4"><strong>Estado:</strong></div>
            <div class="col-8 text-end">{{ estadoDispositivo.conexionInternet ? 'Conectado' : 'Desconectado' }}</div>
          </div>
        </div>
      </div>
    </div>
  </c-modal-body>
  <c-modal-footer class="d-flex flex-column align-items-start">
    <button type="button" class="btn btn-secondary mt-3" (click)="cerrarAlertaInfo()">Cerrar</button>
  </c-modal-footer>
</c-modal>



