<ng-container>
  <c-container [fluid]="true" class="border-bottom px-4 d-flex justify-content-between">
    <button
      [cSidebarToggle]="sidebarId"
      cHeaderToggler
      toggle="visible"
      style="margin-inline-start: -14px"
      aria-label="Toggle sidebar navigation"
    >
      <svg cIcon name="cilMenu" size="lg"></svg>
    </button>

    <div class="d-flex ms-auto">
      <c-header-nav>
        <ng-container *ngTemplateOutlet="ConfigDropdown" />
      </c-header-nav>

      <c-header-nav>
        <ng-container *ngTemplateOutlet="AlertDropdown" />
      </c-header-nav>

      <c-header-nav>
        <ng-container *ngTemplateOutlet="themeDropdown" />
      </c-header-nav>
    </div>

    <c-header-nav class="ms-0">
      <ng-container *ngTemplateOutlet="userDropdown" />
    </c-header-nav>
  </c-container>
</ng-container>

<!--</c-header>-->

<ng-template #userDropdown>
  <c-dropdown
    [popperOptions]="{ placement: 'bottom-start' }"
    variant="nav-item"
  >
    <button
      [caret]="false"
      cDropdownToggle
      class="py-0 pe-0"
      aria-label="Open user menu"
    >
      <c-avatar
        shape="rounded-1"
        [size]="'md'"
        src="./assets/jedanklosin.ico"
        status="success"
        textColor="primary"
        alt="User avatar"
      />
    </button>
    <ul cDropdownMenu class="pt-0 w-auto">
      <li>
        <h6
          cDropdownHeader
          class="bg-body-secondary text-body-secondary fw-semibold py-2 rounded-top"
        >
          Notificaciones
        </h6>
      </li>
      <li>
        <a cDropdownItem routerLink="/alerta">
          <svg cIcon class="me-2" name="cilBell"></svg>
          Alertas
          <c-badge class="ms-2 float-end" color="info"> !!</c-badge>
        </a>
      </li>
      <li></li>
      <li>
        <a cDropdownItem class="pointer-cursor" routerLink="/perfil">
          <svg cIcon class="me-2" name="cilUser"></svg>
          Perfil
        </a>
      </li>
      <li>
        <h6
          cDropdownHeader
          class="bg-body-secondary text-body-secondary fw-semibold py-2"
        >
          Salir
        </h6>
      </li>
      <li></li>
      <li>
        <hr cDropdownDivider />
      </li>
      <li>
        <a cDropdownItem routerLink="" (click)="logout()">
          <svg cIcon class="me-2" name="cilAccountLogout"></svg>
          Logout
        </a>
      </li>
    </ul>
  </c-dropdown>
</ng-template>

<ng-template #themeDropdown>
  <c-dropdown alignment="end" variant="nav-item">
    <button [caret]="false" cDropdownToggle aria-label="Open theme picker">
      <svg cIcon [name]="icons()" size="lg"></svg>
    </button>
    <div cDropdownMenu>
      @for (mode of colorModes; track mode.name) {
      <button
        (click)="colorMode.set(mode.name)"
        [active]="colorMode() === mode.name"
        [routerLink]="[]"
        cDropdownItem
        class="d-flex align-items-center"
      >
        <svg cIcon class="me-2" [name]="mode.icon" size="lg"></svg>
        {{ mode.text }}
      </button>
      }
    </div>
  </c-dropdown>
</ng-template>

<ng-template #ConfigDropdown>
</ng-template>

<ng-template #AlertDropdown>
</ng-template>

<c-modal [(visible)]="isAlertaInfo" [backdrop]="false">
  <c-modal-header class="bg-primary text-white">
    <h5 class="modal-title">Detalles de la Alerta y Dispositivo</h5>
  </c-modal-header>
  <c-modal-footer class="d-flex flex-column align-items-start">
  </c-modal-footer>
</c-modal>


