<c-toaster [placement]="position" class="p-3" position="fixed" style="position: fixed; top: 20px; right: 20px; z-index: 1050;">
  <c-toast
    (timer)="onTimerChange($event)"
    (visibleChange)="onVisibleChange($event)"
    [visible]="visible"
    class="custom-toast">
    <c-toast-header class="custom-toast-header">
      Error de ingreso de datos
    </c-toast-header>
    <c-toast-body class="custom-toast-body">
      <p class="custom-toast-message">Error al ingresar usuario o contraseña</p>
      <c-progress thin class="custom-progress">
        <c-progress-bar [value]="percentage" class="custom-progress-bar"></c-progress-bar>
      </c-progress>
    </c-toast-body>
  </c-toast>
</c-toaster>
<div class="bg-light dark:bg-transparent min-vh-100 d-flex flex-row align-items-center">
  <c-container breakpoint="md">
    <c-row class="justify-content-center">
      <c-col lg="10" xl="8">
        <c-card-group>
          <c-card class="p-4">
            <c-card-body>
              <form [formGroup]="loginForm" (ngSubmit)="login()">
                <h1>Iniciar Sesion</h1>
                <p class="text-body-secondary">Inicia sesion en tu cuenta</p>
                <c-input-group class="mb-3">
                  <span cInputGroupText>
                    <svg cIcon name="cilUser"></svg>
                  </span>
                  <input formControlName="username" autoComplete="username" cFormControl placeholder="Usuario" required/>
                  <div *ngIf="loginForm.controls['username']?.invalid && loginForm.controls['username']?.touched" class="invalid-feedback">
                    Ingrese su usuario.
                  </div>
                </c-input-group>
                <c-input-group class="mb-4">
                  <span cInputGroupText>
                    <svg cIcon name="cilLockLocked"></svg>
                  </span>
                  <input
                    formControlName="password"
                    autoComplete="current-password"
                    cFormControl
                    placeholder="Clave"
                    type="password"
                    required
                  />
                  <div *ngIf="loginForm.controls['password']?.invalid && loginForm.controls['password']?.touched" class="invalid-feedback">
                    Ingrese su clave.
                  </div>
                </c-input-group>
                <c-row>
                  <c-col xs="6">
                    <button cButton class="px-4" color="primary" type="submit">
                      Entrar
                    </button>
                  </c-col>
                  <c-col class="text-right" xs="6">
                    <button cButton class="px-0" color="link">¿Olvidaste tu contraseña?</button>
                  </c-col>
                </c-row>
              </form>

            </c-card-body>
          </c-card>
          <c-card [ngStyle]="{'minWidth.%': 46}" class="text-white bg-primary py-5">
            <c-card-body class="text-center">
              <div>
                <img src="../../../assets/images/jedanklogofondoo.jpg" class="jedank-logo" width="315px" height="auto" alt="My Logo">

                    <h4>                  "Tu Mundo, Siempre Localizable"
                    </h4>
              </div>
            </c-card-body>
          </c-card>
        </c-card-group>
      </c-col>
    </c-row>
  </c-container>
</div>
