<c-toaster [placement]="position" class="p-3" position="fixed" style="position: fixed; top: 20px; right: 20px; z-index: 1050;">
  <c-toast
    [visible]="visible"
    [class.success-toast]="toastType === 'success'"
    [class.error-toast]="toastType === 'error'">
    <c-toast-header
      [class.success-toast-header]="toastType === 'success'"
      [class.danger-toast-header]="toastType === 'error'">
      <svg *ngIf="toastType === 'success'" cIcon name="cilCheck" class="icon-success"></svg>
      <svg *ngIf="toastType === 'error'" cIcon name="cilXCircle" class="icon-danger"></svg>
      <h5 [class.success-heading]="toastType === 'success'"
          [class.error-heading]="toastType === 'error'">
        {{ tituloMensaje }}
      </h5>
    </c-toast-header>
    <c-toast-body
      [class.success-toast-body]="toastType === 'success'"
      [class.error-toast-body]="toastType === 'error'">
      <p [class.success-toast-message]="toastType === 'success'"
         [class.danger-toast-message]="toastType === 'error'">
        {{ descripcionMensaje }}
      </p>
    </c-toast-body>
  </c-toast>
</c-toaster>

<div class="text-center mb-4">
  <!-- Título fuera del card -->
  <h3 class="profile-title">{{titulo}}</h3>
</div>
<div
  class="card border-0 shadow-sm profile-card"
  style="max-width: 80%; margin: auto"
>
  <div class="profile-header text-center mb-4">
    <!-- Encabezado del card con colores arcoíris -->
  </div>

  <!-- Cuerpo del card -->
  <div class="card-body text-center" *ngIf="!isEditingProfile">
    <!-- Foto de Perfil en el body -->
    <img
      [src]="getImagenURL(usuario.persona.imagen) || './assets/jedanklosin.ico'"
      alt="Avatar"
      class="profile-img mb-3"
    />
    <!-- Nombre y Apellido en grande -->
    <h1 class="profile-name mb-2">
      {{ usuario.persona.nombre }} {{ usuario.persona.apellido }}
    </h1>
    <!-- Username con icono de verificación -->
    <h3 class="d-flex align-items-center justify-content-center mb-3">
      <span class="text-muted profile-username"
        >{{ usuario.username }}
        <i class="fa-solid fa-circle-check" title="Verificado"></i>
      </span>
    </h3>
    <hr class="my-3" />

    <!-- Cargo -->
    <div class="badges-container">
      <div class="badge profile-role">Administrador</div>
    </div>

    <hr class="my-3" />

    <!-- Información Adicional -->
    <div class="profile-info">
      <div>Nombre: {{ usuario.persona.nombre }}</div>
      <div>Apellido: {{ usuario.persona.apellido }}</div>
      <div>Cédula: {{ usuario.persona.cedula }}</div>
    </div>

    <div class="d-grid">
      <button
        class="btn btn-primary"
        type="button"
        (click)="toggleEditProfile()"
      >
        <i class="fas fa-pencil-alt"></i> Editar mi perfil
      </button>
    </div>
  </div>

  <div class="card-body p-4" *ngIf="isEditingProfile">
    <!-- Imagen y botón para cargar imagen -->
    <div class="text-center mb-4">
      <img
        [src]="previewImageUrl || './assets/jedanklosin.ico'"
        alt="Avatar"
        class="rounded-circle img-fluid mb-3 profile-img"
      />
      <div class="d-flex justify-content-center">
        <c-input-group class="w-75">
          <span cInputGroupText>
            <svg cIcon name="cil-image"></svg>
          </span>
          <input
            type="file"
            (change)="onImageSelect($event)"
            cFormControl
            accept="image/*"
          />
        </c-input-group>
      </div>
    </div>
  
    <!-- Formulario de edición -->
    <form
      (ngSubmit)="saveChanges()"
      [formGroup]="formUser"
      autocomplete="off"
    >
      <div class="row">
        <!-- Columna Izquierda -->
        <div class="col-md-6">
          <!-- Cedula -->
          <c-input-group class="mb-3">
            <span cInputGroupText>
              <svg cIcon name="cil-credit-card"></svg>
            </span>
            <input
              type="text"
              formControlName="newCedula"
              cFormControl
              placeholder="Número de cédula"
              [value]="usuario.persona.cedula"
              required
              autocomplete="off"
            />
            <div
              *ngIf="formUser.controls['newCedula']?.invalid && formUser.controls['newCedula']?.touched"
              class="invalid-feedback"
            >
              Debe ingresar la cédula.
            </div>
          </c-input-group>
    
          <!-- Nombre -->
          <c-input-group class="mb-3">
            <span cInputGroupText>
              <svg cIcon name="cil-user"></svg>
            </span>
            <input
              type="text"
              formControlName="newNombre"
              cFormControl
              placeholder="Nombre"
              [value]="usuario.persona.nombre"
              required
              autocomplete="off"
            />
            <div
              *ngIf="formUser.controls['newNombre']?.invalid && formUser.controls['newNombre']?.touched"
              class="invalid-feedback"
            >
              El nombre es obligatorio.
            </div>
          </c-input-group>
    
          <!-- Apellido -->
          <c-input-group class="mb-3">
            <span cInputGroupText>
              <svg cIcon name="cil-user"></svg>
            </span>
            <input
              type="text"
              formControlName="newApellido"
              cFormControl
              placeholder="Apellido"
              [value]="usuario.persona.apellido"
              required
              autocomplete="off"
            />
            <div
              *ngIf="formUser.controls['newApellido']?.invalid && formUser.controls['newApellido']?.touched"
              class="invalid-feedback"
            >
              El apellido es obligatorio.
            </div>
          </c-input-group>
        </div>
        
        <!-- Columna Derecha -->
        <div class="col-md-6">
          <!-- Usuario (Username) -->
          <c-input-group class="mb-3">
            <span cInputGroupText>
              <svg cIcon name="cil-user"></svg>
            </span>
            <input
              type="text"
              formControlName="newUsername"
              cFormControl
              placeholder="Nombre de usuario"
              [value]="usuario.username"
              autocomplete="new-username"
              required
            />
            <div
              *ngIf="formUser.controls['newUsername']?.invalid && formUser.controls['newUsername']?.touched"
              class="invalid-feedback"
            >
              El usuario es obligatorio.
            </div>
          </c-input-group>
    
          <!-- Contraseña -->
          <c-input-group class="mb-3">
            <span cInputGroupText>
              <svg cIcon name="cil-lock-locked"></svg>
            </span>
            <input
              type="password"
              formControlName="newPassword"
              cFormControl
              placeholder="Nueva contraseña (opcional)"
              autocomplete="new-password"
            />
            <div
              *ngIf="formUser.controls['newPassword']?.invalid && formUser.controls['newPassword']?.touched"
              class="invalid-feedback"
            >
              La nueva contraseña es opcional.
            </div>
          </c-input-group>
    
          <!-- Contraseña Actual -->
          <c-input-group class="mb-4">
            <span cInputGroupText>
              <svg cIcon name="cil-lock-locked"></svg>
            </span>
            <input
              type="password"
              formControlName="actualPassword"
              cFormControl
              placeholder="Contraseña actual"
              required
              autocomplete="off"
            />
            <div
              *ngIf="formUser.controls['actualPassword']?.invalid && formUser.controls['actualPassword']?.touched"
              class="invalid-feedback"
            >
              La contraseña actual es obligatoria.
            </div>
          </c-input-group>
        </div>
      </div>
  
      <!-- Botones -->
      <div class="d-grid mb-3">
        <button cButton color="success" type="submit">
          Guardar Cambios
        </button>
      </div>
      <div class="d-grid">
        <button
          cButton
          color="secondary"
          type="button"
          (click)="toggleEditProfile()"
        >
          Cancelar
        </button>
      </div>
    </form>
  </div>
</div>





