#map-container {
    position: relative;
    margin: 10px 0;
}

.button-container {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

#guardar-punto-seguro {
    align-self: center;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #D11818;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#guardar-punto-seguro:hover {
    background-color: #18D118;
}