<div class="search-container">
  <input #autocomplete type="text" placeholder="Buscar...">
  <svg class="search-icon" cIcon name="cilMagnifyingGlass"></svg>
</div>
  <div>
    <div id="map-container">
      <google-map
        height="600px"
        width="100%"
        [center]="center"
        [zoom]="zoom"
        (mapClick)="addMarker($event)"
      >
        <!--<map-marker
          *ngFor="let position of markerPositions"
          [position]="position"
        ></map-marker>-->
      </google-map>
    </div>
  </div>
  <div id="final_mapa">
    <div class="lado_izquierdo">
      <button id="guardar-punto-seguro" (click)="ingresarZona()">
        Guardar Zona Segura
      </button>
    </div>
      <!--BOTONES PARA ELIMINAR Y EDITAR-->
      <div class="lado_derecho">
        <div #btndelete_edit *ngIf="showOptions" [style.top.px]="clickPosition.y" [style.left.px]="clickPosition.x" class="context-menu">
          <button class="botones" (click)="editPolygon()">Editar</button>
          <button class="botones" (click)="deletePolygon()">Eliminar</button>
        </div>
      </div>
  </div>

  
