
.search-container {
    margin-bottom: 20px; 
    input[type="text"] {
      padding: 10px;
      width: 300px;
      border-radius: 5px;
      border: 1px solid #ccc;
    }
  }
  
  #map-container {
    height: 600px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  //CÓDIGO CSS PARA LOS CONTENEDORES DE LOS BOTONES

  #final_mapa {
    display: flex;
    justify-content: space-between;
    padding: 10px;
  }

  .lado_izquierdo {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  .lado_derecho {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  .botones {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-left: 10px; /* Espacio entre los botones */
  }

  .botones:hover {
    background-color: #0056b3;
  }

  #guardar-punto-seguro{
    padding: 10px;
      background-color: #4CAF50;
      color: white;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      
      &:hover {
        background-color: #45a049; // Cambio de color en hover
      }
  }

  .search-container {
    position: relative;
    margin-bottom: 1rem;
    margin-top: 1rem;
  }
  
  .search-icon {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    pointer-events: none;
  }
  
  #autocomplete {
    padding-left: 40px;
  }
  
  .botones {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .botones:hover {
    background-color: #0056b3;
  }

  .botoneeliminar{
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-left: 10px;
  }