<c-row>
  <c-col xs>
    <c-card class="mb-4">
      <c-card-body>
        <div style="display: flex; justify-content: space-between; align-items: center;">
          <h5 class="card-title" style="margin-bottom: 0;">{{titulo}}</h5>
          <button type="button" *ngIf="!showTable" class="btn btn-secondary" (click)="cancelar()">Volver</button>
        </div>
        <br>
        <div class="button-container">
          <button type="button" class="btn btn-outline-info bi bi-plus-circle" *ngIf="showTable" (click)="btncrear()">Agregar dispositivo</button>
        </div><br>


        <!-- Tabla de dispositivos -->
        <div *ngIf="showTable">
          <div class="search-container">
            <input type="text" placeholder="Buscar..." [(ngModel)]="searchText" class="form-control search-input" />
            <svg class="search-icon" cIcon name="cilMagnifyingGlass"></svg>
          </div>
          <table
            [hover]="true"
            [responsive]="true"
            [striped]="true"
            align="middle"
            cTable
            class="mb-0 border"
          >
            <thead class="text-nowrap text-truncate">
              <tr>
                <th class="bg-body-tertiary">Id</th>
                <th class="bg-body-tertiary text-center">Marca-Modelo</th>
                <th class="bg-body-tertiary text-center">Num Serie</th>
                <th class="bg-body-tertiary text-center">Nombre</th>
                <th class="bg-body-tertiary text-center">Estado</th>
                <th class="bg-body-tertiary text-center">Categoria</th>
                <th class="bg-body-tertiary text-center">Editar</th>
                <th class="bg-body-tertiary text-center">Eliminar</th>
              </tr>
            </thead>
            <tbody>
              <tr class="bg-body-tertiary text-center" *ngFor="let dispo of filteredDispositivos() | paginate: { itemsPerPage: 5, currentPage: p }; let i = index">
                <td>
                  <div>{{ dispo.idDispositivo }}</div>
                </td>
                <td>
                  <div>{{ dispo.modelo?.marca?.nombre }}</div>
                  <div class="small text-body-secondary text-nowrap">
                    <span>{{ dispo.modelo?.nombre }}</span>
                  </div>
                </td>
                <td>
                  <div class="fw-semibold text-nowrap">{{ dispo.numSerie }}</div>
                </td>
                <td>
                  <div class="fw-semibold text-nowrap">{{ dispo.nombre }}</div>
                </td>
                <td>
                  <div class="fw-semibold text-nowrap" [ngStyle]="{ 'color': dispo.disponible ? 'green' : 'red', 'font-weight': dispo.disponible ? 'bold' : 'normal' }">
                    {{ dispo.disponible ? 'Disponible' : 'Prestado' }}
                  </div>
                </td>
                <td>
                  <div class="fw-semibold text-nowrap">{{ dispo.categoria?.nombre }}</div>
                </td>
                <td>
                  <button type="button" class="btn btn-primary" (click)="editardispo(dispo)"><svg cIcon name="cilPencil" size="lg"></svg></button>
                </td>
                <td>
                  <button type="button" class="btn btn-danger" (click)="eliminardispo(dispo)"> <svg cIcon name="cilTrash" size="lg"></svg></button>
                </td>
              </tr>
            </tbody>
          </table>
          <div class="d-flex justify-content-center mt-3">
            <pagination-controls (pageChange)="p = $event"></pagination-controls>
          </div>
        </div>

        <!-- AQUI INICIAN LOS FORMULARIOS DE INGRESO Y MODIFICACION SEGUN CORRESPONDA-->
        <div *ngIf="!showTablec">
          <form #myForm="ngForm" (ngSubmit)="crearDispositivo()">
            <c-input-group class="mb-3">
              <span cInputGroupText>
                <svg cIcon name="cilItalic"></svg>
              </span>
              <select name="Categoria" id="Categoria" class="form-control" [(ngModel)]="categoriaselet" required>
                <option value="null" disabled selected>Seleccione la Categoría</option>
                <option *ngFor="let cate of categorias" [ngValue]="cate">
                  {{ cate.nombre }}
                </option>
              </select>
              <div *ngIf="myForm.controls['Categoria']?.invalid && myForm.controls['Categoria']?.touched" class="invalid-feedback">
                La Categoria es obligatoria.
              </div>
            </c-input-group>

            <c-input-group class="mb-3">
              <span cInputGroupText>
                <svg cIcon name="cilItalic"></svg>
              </span>
              <select class="form-control" name="Marcas" id="Marcas" [(ngModel)]="marcaselect" required (change)="filtrarModelosPorMarca()">
                <option value="null" disabled selected>Seleccione la Marca</option>
                <option *ngFor="let marca of marcas" [ngValue]="marca">
                  {{ marca.nombre }}
                </option>
              </select>
              <div *ngIf="myForm.controls['Marcas']?.invalid && myForm.controls['Marcas']?.touched" class="invalid-feedback">
                La Marca es obligatoria.
              </div>
            </c-input-group>

            <c-input-group class="mb-3">
              <span cInputGroupText>
                <svg cIcon name="cilItalic"></svg>
              </span>
              <select name="Modelo" id="Modelo" class="form-control" [(ngModel)]="modeloselet" required>
                <option value="null" disabled selected>Seleccione el Modelo</option>
                <option *ngFor="let modelo of modelosfiltro" [ngValue]="modelo">
                  {{ modelo.nombre }}
                </option>
              </select>
              <div *ngIf="myForm.controls['Modelo']?.invalid && myForm.controls['Modelo']?.touched" class="invalid-feedback">
                El Modelo es obligatorio.
              </div>
            </c-input-group>

            <c-input-group class="mb-3">
              <span cInputGroupText>
                <svg cIcon name="cilUser"></svg>
              </span>
              <select name="numero_serie" id="numero_serie" class="form-control" [(ngModel)]="dispositivoSeleccionado" required>
                <option value="null" disabled selected>Seleccione el numero de serie</option>
                <option *ngFor="let dispo of dispositivosfiltro" [ngValue]="dispo">
                  {{ dispo.numSerie }}
                </option>
              </select>
              <div *ngIf="myForm.controls['numero_serie']?.invalid && myForm.controls['numero_serie']?.touched" class="invalid-feedback">
                El número de serie es obligatorio.
              </div>
            </c-input-group>
            <c-input-group class="mb-3">
              <span cInputGroupText>
                <svg cIcon name="cilUser"></svg>
              </span>
              <select name="zona" id="zona" class="form-control" [(ngModel)]="zonaSeleccionado" required>
                <option value="null" disabled selected>Seleccione la zona</option>
                <option *ngFor="let zona of zonaseg" [ngValue]="zona">
                  {{ zona.descripcion }}
                </option>
              </select>
              <div *ngIf="myForm.controls['zona']?.invalid && myForm.controls['zona']?.touched" class="invalid-feedback">
                Seleccionar Zona es obligatorio.
              </div>
            </c-input-group>
            <c-input-group class="mb-3">
              <span cInputGroupText>
                <svg cIcon name="cilUser"></svg>
              </span>
              <input id="nombre" class="form-control" type="text" placeholder="Nombre" [(ngModel)]="nombredispo" name="nombre" required/>
              <div *ngIf="myForm.controls['nombre']?.invalid && myForm.controls['nombre']?.touched" class="invalid-feedback">
                El nombre es obligatorio.
              </div>
            </c-input-group>

            <c-input-group class="mb-3">
              <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" id="disponible" [(ngModel)]="disponible" name="disponible">
                <label class="form-check-label" for="disponible">Disponible</label>
              </div>
            </c-input-group>

            <div class="d-grid">
              <button cButton color="success" type="submit" [disabled]="myForm.invalid">Guardar Cambios</button>
            </div>
            <br>
            <div class="d-grid">
              <button cButton color="secondary" type="button" (click)="cancelar()">Cancelar</button>
            </div>
          </form>
            <!-- AQUI ACABAN LOS FORMULARIOS DE INGRESO Y MODIFICACION SEGUN CORRESPONDA-->
        </div>

        <!-- AQUI INICIAN LOS FORMULARIOS  DE MODIFICACION -->
        <div *ngIf="!showTablem">
          <form  #myForm="ngForm" (ngSubmit)="crearDispositivo()">
          <c-input-group class="mb-3">
            <span cInputGroupText>
              <svg cIcon name="cilItalic"></svg>
            </span>
            <select name="Categoria" id="Categoria" class="form-control" [(ngModel)]="categoriamod.id_categoria">
              <option Value="null" disabled selected>Seleccione la Categoría</option>
              <option *ngFor="let cate of categorias" [ngValue]="cate.id_categoria">
                {{ cate.nombre }}
              </option>
            </select>
          </c-input-group>
          <c-input-group class="mb-3">
            <span cInputGroupText>
              <svg cIcon name="cilItalic"></svg>
            </span>
            <select class="form-control" name="Marcas" id="Marcas" [(ngModel)]="id_marca">
              <option value="null" disabled selected>Seleccione la Marca</option>
              <option *ngFor="let marca of marcas" [ngValue]="marca.id_marca" >
                {{ marca.nombre }}
              </option>
            </select>
          </c-input-group>
          <c-input-group class="mb-3">
            <span cInputGroupText>
              <svg cIcon name="cilItalic"></svg>
            </span>
            <select name="Modelo" id="Modelo" class="form-control" [(ngModel)]="modelomod.id_modelo">
              <option  [ngValue]="null" disabled selected>Seleccione el Modelo</option>
              <option *ngFor="let modelo of modelos" [ngValue]="modelo.id_modelo">
                {{ modelo.nombre }}
              </option>
            </select>

          </c-input-group>
          <c-input-group class="mb-3">
            <span cInputGroupText>
              <svg cIcon name="cilItalic"></svg>
            </span>
            <select name="zona" id="zona" class="form-control" [(ngModel)]="zonamod.id_zona_segura">
              <option Value="null" disabled selected>Seleccione la Zona</option>
              <option *ngFor="let zona of zonaseg" [ngValue]="zona.id_zona_segura">
                {{ zona.descripcion }}
              </option>
            </select>
          </c-input-group>
          <c-input-group class="mb-3">
            <span cInputGroupText>
              <svg cIcon name="cilUser"></svg>
            </span>
            <input id="nombre" class="form-control" type="text" placeholder="Nombre" [(ngModel)]="dispositivo.nombre" name="nombre" required/>
            <div *ngIf="myForm.controls['nombre']?.invalid && myForm.controls['nombre']?.touched" class="invalid-feedback">
              El nombre es obligatorio.
            </div>
          </c-input-group>
          <c-input-group class="mb-3">
            <div class="form-check form-switch">
              <input class="form-check-input" type="checkbox" id="disponible" [(ngModel)]="dispositivo.disponible" name="disponible">
              <label class="form-check-label" for="disponible">Disponible</label>
            </div>
          </c-input-group>
          <div class="d-grid">
            <button cButton color="success" type="submit" [disabled]="myForm.invalid">Guardar Cambios</button>
          </div><br>
          <div class="d-grid">
            <button cButton color="secondary" type="button"(click)="cancelar()" >Cancelar</button>
          </div>

        </form>
            <!-- AQUI ACABAN LOS FORMULARIOS DE MODIFICACION -->
        </div>
      </c-card-body>
    </c-card>
  </c-col>
</c-row>

