#guardar-persona {
  align-self: center;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #db5d5d;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#guardar-persona:hover {
  background-color: #249542;
}
.ng-touched.ng-invalid {
  border-color: #dc3545; /* color rojo para indicar error */
}

.invalid-feedback {
  display: none;
}

.ng-touched.ng-invalid ~ .invalid-feedback {
  display: block;
}

.success-toast {
  background-color: #f3f4f7; /* Verde suave */
  border: 1px solid #86c686; /* Borde verde más oscuro */
  border-radius: 0.25rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.success-toast-header {
  display: flex; /* Para alinear elementos horizontalmente */
  align-items: center;
  background-color: 	#1b9e3e; /* Verde claro */
  color: #f3f4f7; /* Texto gris oscuro */
  font-weight: bold;
  border-bottom: 1px solid #86c686;
  padding: 0.75rem;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}

.success-toast-body {
  padding: 1rem;
}

.success-toast-message {
  margin: 0;
  color: #6b7785; /* Texto gris oscuro */
  font-size: 18px;
}

.success-progress {
  margin-top: 1rem;
  height: 4px;
  background-color: #3399ff; /* Fondo claro para la barra de progreso */
}

.success-progress-bar {
  background-color: #86c686; /* Barra de progreso verde claro */
}
.icon-success{
  transform: scale(1.5); /* Ajusta el valor según sea necesario */
  margin-right: 10px; /* Ajusta el espacio entre el icono y el h4 según sea necesario */
}
.succ-heading {
  margin: 0; /* Ajusta el margen del h4 para evitar espacios innecesarios */
}


.danger-toast {
  background-color: #f3f4f7; /* Verde suave */
  border: 1px solid #e55353; /* Borde verde más oscuro */
  border-radius: 0.25rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.danger-toast-header {
  display: flex; /* Para alinear elementos horizontalmente */
  align-items: center;
  background-color: 	#e55353; /* Verde claro */
  color: #f3f4f7; /* Texto gris oscuro */
  font-weight: bold;
  border-bottom: 1px solid #e55353;
  padding: 0.75rem;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}

.danger-toast-body {
  padding: 1rem;
}

.danger-toast-message {
  margin: 0;
  color: #6b7785; /* Texto gris oscuro */
  font-size: 18px;
}

.danger-progress {
  margin-top: 1rem;
  height: 4px;
  background-color: #e55353; /* Fondo claro para la barra de progreso */
}

.danger-progress-bar {
  background-color: #e55353; /* Barra de progreso verde claro */
}

.icon-danger{
  transform: scale(1.5); /* Ajusta el valor según sea necesario */
  margin-right: 10px; /* Ajusta el espacio entre el icono y el h4 según sea necesario */
}

.error-heading {
  margin: 0; /* Ajusta el margen del h4 para evitar espacios innecesarios */
}

.search-container {
  position: relative;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.search-icon {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  pointer-events: none;
}

.search-input {
  padding-left: 40px;
}
