<c-toaster [placement]="position" class="p-3" position="fixed" style="position: fixed; top: 20px; right: 20px; z-index: 1050;">
  <c-toast
    (timer)="onTimerChange($event)"
    (visibleChange)="onVisibleChange($event)"
    [visible]="visible"
    class="success-toast">
    <c-toast-header class="success-toast-header">
      <svg cIcon name="cilCheck" class="icon-success"></svg> <!-- Icono de éxito -->
      <h5 class="success-heading">Creacion de Persona exitosa</h5>
    </c-toast-header>
    <c-toast-body class="success-toast-body">
      <p class="success-toast-message" >Persona creada con exito</p>
    </c-toast-body>
  </c-toast>
</c-toaster>
<c-toaster [placement]="position2" class="p-3" position="fixed" style="position: fixed; top: 20px; right: 20px; z-index: 1050;">
  <c-toast
    (timer)="onTimerChange2($event)"
    (visibleChange)="onVisibleChange2($event)"
    [visible]="visible2"
    class="danger-toast">
    <c-toast-header class="danger-toast-header">
      <svg cIcon name="cilReportSlash" class="icon-danger"></svg> <!-- Icono de error -->
      <h5 class="error-heading">   Error al crear persona</h5>
    </c-toast-header>
    <c-toast-body class="danger-toast-body">
      <p class="danger-toast-message">Error al ingresar los datos</p>
    </c-toast-body>
  </c-toast>
</c-toaster>
<div class="card">
  <div class="card-body">
    <div style="display: flex; justify-content: space-between; align-items: center;">
      <h5 class="card-title" style="margin-bottom: 0;">Clientes</h5>
      <div *ngIf="!mostrarFormularioEditar">
        <button type="button" class="btn btn-outline-success bi bi-plus-circle" (click)="ingresarPersona()">
          Ingresar Persona
        </button>
      </div>
    </div>
    
    <div *ngIf="mostrarFormularioIngreso && !mostrarFormularioEditar">
      <form [formGroup]="registerFormIn" (ngSubmit)="onSubmit2()">
        <h1>Ingresar Persona</h1>
        <c-input-group class="mb-3">
          <span cInputGroupText>
            <svg cIcon name="cilCreditCard"></svg>
          </span>
          <input formControlName="cedula" cFormControl placeholder="Cedula" required
          />
          <div *ngIf="cedula?.invalid && cedula?.touched" class="invalid-feedback">
            <div *ngIf="cedula?.errors?.['required']">La Cédula es obligatoria.</div>
            <div *ngIf="cedula?.errors?.['pattern']">La Cédula solo puede contener números.</div>
            <div *ngIf="cedula?.errors?.['minlength']">La Cédula debe tener 10 números.</div>
            <div *ngIf="cedula?.errors?.['maxlength']">La Cédula debe tener 10 números.</div>
          </div>
        </c-input-group>
        <c-input-group class="mb-3">
          <span cInputGroupText>
            <svg cIcon name="cil-paragraph"></svg>
          </span>
          <input formControlName="nombre" cFormControl placeholder="Nombre" required
          />
          <div *ngIf="nombre?.invalid && nombre?.touched" class="invalid-feedback">
            <div *ngIf="nombre?.errors?.['required']">El Nombre es obligatorio.</div>
            <div *ngIf="nombre?.errors?.['pattern']">El Nombre solo puede contener letras.</div>
          </div>
        </c-input-group>
        <c-input-group class="mb-3">
          <span cInputGroupText>
            <svg cIcon name="cil-paragraph"></svg>
          </span>
          <input formControlName="apellido" cFormControl placeholder="Apellido" required
          />
          <div *ngIf="apellido?.invalid && apellido?.touched" class="invalid-feedback">
            <div *ngIf="apellido?.errors?.['required']">El Apellido es obligatorio.</div>
            <div *ngIf="apellido?.errors?.['pattern']">El Apellido solo puede contener letras.</div>
          </div>
        </c-input-group>
        <c-input-group class="mb-3">
          <span cInputGroupText>
            <svg cIcon name="cilSync"></svg>
          </span>
          <select class="form-select" formControlName="rol" cFormControl required
          >
            <option value="" disabled selected>Seleccione un Rol</option>
            <option *ngFor="let rol of roles" [value]="rol.id_rol">
              {{ rol.rol }}
            </option>
          </select>
          <div *ngIf="registerFormIn.controls['rol']?.invalid && registerFormIn.controls['rol']?.touched" class="invalid-feedback">
            El Rol es obligatorio.
          </div>
        </c-input-group>
        <c-input-group class="mb-3">
          <span cInputGroupText>
            <svg cIcon name="cil-paragraph"></svg>
          </span>
          <input formControlName="descripcion" cFormControl placeholder="Descripcion" required
          />
          <div *ngIf="descripcion?.invalid && descripcion?.touched" class="invalid-feedback">
            <div *ngIf="descripcion?.errors?.['required']">La descripción es obligatorio.</div>
            <div *ngIf="descripcion?.errors?.['pattern']">La descripción solo puede contener letras y numeros.</div>
          </div>
        </c-input-group>
        <div class="d-grid">
          <button cButton color="success" type="submit">Guardar Persona</button>
        </div><br>
        <div class="d-grid">
          <button cButton color="secondary" type="button" (click)="ingresarPersona()">Cancelar</button>
        </div>
      </form>
    </div>
    <div *ngIf="!mostrarFormularioIngreso &&!mostrarFormularioEditar">
      <div class="search-container">
        <input type="text" placeholder="Buscar..." [(ngModel)]="searchText" class="form-control search-input" />
        <svg class="search-icon" cIcon name="cilMagnifyingGlass"></svg>
      </div>
      <div class="table-responsive">
        <table class="table table-bordered table-striped w-100">
          <thead>
            <tr>
              <th>Cedula</th>
              <th>Nombre</th>
              <th>Apellido</th>
              <th>Rol</th>
              <th>Fecha Registro</th>
              <th>Editar</th>
              <th>Eliminar</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let persona of filteredPersonas() | paginate: { itemsPerPage: 5, currentPage: p }; let i = index">
              <td>{{ persona.cedula }}</td>
              <td>{{ persona.nombre }}</td>
              <td>{{ persona.apellido }}</td>
              <td>{{ persona.rol.rol }}</td>
              <td>
                {{ persona.fecha_registro ? persona.fecha_registro.toString().split("T")[0] : 'NA' }}
              </td>
              <td>
                <button type="button" name="button" (click)="edit(i)" class="btn btn-primary">
                  <svg cIcon name="cilPencil" size="lg"></svg>
                </button>
              </td>
              <td>
                <button type="button" (click)="eliminarPersona(persona.id_persona)" class="btn btn-danger">
                  <svg cIcon name="cilTrash" size="lg"></svg>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="d-flex justify-content-center mt-3">
        <pagination-controls (pageChange)="p = $event"></pagination-controls>
      </div>
    </div>
    <div *ngIf="filaEditada !== null &&!mostrarFormularioIngreso &&mostrarFormularioEditar">
          <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
            <h1>Editar</h1>
            <c-input-group class="mb-3">
          <span cInputGroupText>
            <svg cIcon name="cilCreditCard"></svg>
          </span>
              <input formControlName="cedula" cFormControl placeholder="Cedula" required/>
              <div *ngIf="cedulam?.invalid && cedulam?.touched" class="invalid-feedback">
                <div *ngIf="cedulam?.errors?.['required']">La Cédula es obligatoria.</div>
                <div *ngIf="cedulam?.errors?.['pattern']">La Cédula solo puede contener números.</div>
                <div *ngIf="cedulam?.errors?.['minlength']">La Cédula debe tener 10 números.</div>
                <div *ngIf="cedulam?.errors?.['maxlength']">La Cédula debe tener 10 números.</div>
              </div>
            </c-input-group>
            <c-input-group class="mb-3">
          <span cInputGroupText>
            <svg cIcon name="cil-paragraph"></svg>
          </span>
              <input formControlName="nombre" cFormControl placeholder="Nombre" required
              />
              <div *ngIf="nombrem?.invalid && nombrem?.touched" class="invalid-feedback">
                <div *ngIf="nombrem?.errors?.['required']">El Nombre es obligatorio.</div>
                <div *ngIf="nombrem?.errors?.['pattern']">El Nombre solo puede contener letras.</div>
              </div>
            </c-input-group>
            <c-input-group class="mb-3">
          <span cInputGroupText>
            <svg cIcon name="cil-paragraph"></svg>
          </span>
              <input formControlName="apellido" cFormControl placeholder="Apellido" required
              />
              <div *ngIf="apellidom?.invalid && apellidom?.touched" class="invalid-feedback">
                <div *ngIf="apellidom?.errors?.['required']">El Apellido es obligatorio.</div>
                <div *ngIf="apellidom?.errors?.['pattern']">El Apellido solo puede contener letras.</div>
              </div>
            </c-input-group>
            <c-input-group class="mb-3">
          <span cInputGroupText>
            <svg cIcon name="cilSync"></svg>
          </span>
              <select class="form-select" formControlName="rol" cFormControl required
              >
                <option value="" disabled selected>Seleccione un Rol</option>
                <option *ngFor="let rol of roles" [value]="rol.id_rol">
                  {{ rol.rol }}
                </option>
              </select>
              <div *ngIf="registerFormIn.controls['rol']?.invalid && registerFormIn.controls['rol']?.touched" class="invalid-feedback">
                El Rol es obligatorio.
              </div>
            </c-input-group>
            <c-input-group class="mb-3">
              <span cInputGroupText>
                <svg cIcon name="cil-paragraph"></svg>
              </span>
              <input formControlName="descripcion" cFormControl placeholder="Descripcion" required
              />
              <div *ngIf="descripcionm?.invalid && descripcionm?.touched" class="invalid-feedback">
                <div *ngIf="descripcionm?.errors?.['required']">La descripción es obligatorio.</div>
                <div *ngIf="descripcionm?.errors?.['pattern']">La descripción solo puede contener letras y numeros.</div>
              </div>
            </c-input-group>
            <div class="d-grid">
              <button cButton color="success" type="submit">Guardar Cambios</button>
            </div><br>
            <div class="d-grid">
              <button cButton color="secondary" type="button" (click)="cancelarEdicion()">Cancelar</button>
            </div>
          </form>
    </div>
  </div>
</div>


