<div class="card">
  <div class="card-body">
    <h5 class="card-title">Cliente</h5>
    <div class="button-container">
      <button id="guardar-persona" (click)="ingresarPersona()">Ingresar Persona</button>
    </div>
    <div *ngIf="mostrarFormularioIngreso">
      <form [formGroup]="registerFormIn" (ngSubmit)="onSubmit2()">
        <h1>Ingresar Persona</h1>
        <c-input-group class="mb-3">
          <span cInputGroupText>
            <svg cIcon name="cilUser"></svg>
          </span>
          <input formControlName="cedula" cFormControl placeholder="Cedula" />
        </c-input-group>
        <c-input-group class="mb-3">
          <span cInputGroupText>
            <svg cIcon name="cilUser"></svg>
          </span>
          <input formControlName="nombre" cFormControl placeholder="Nombre" />
        </c-input-group>
        <c-input-group class="mb-3">
          <span cInputGroupText>
            <svg cIcon name="cilUser"></svg>
          </span>
          <input formControlName="apellido" cFormControl placeholder="Apellido" />
        </c-input-group>
        <c-input-group class="mb-3">
          <span cInputGroupText>
            <svg cIcon name="cilCreditCard"></svg>
          </span>
          <select class="form-select" formControlName="rol" cFormControl>
            <option value="" disabled selected>Seleccione un Rol</option>
            <option *ngFor="let rol of roles" [value]="rol.id_rol">
              {{ rol.rol }}
            </option>
          </select>
        </c-input-group>
        <div class="d-grid">
          <button cButton color="success" type="submit">Guardar Persona</button>
        </div><br>
        <div class="d-grid">
          <button cButton color="secondary" type="button" (click)="ingresarPersona()">Cancelar</button>
        </div>
      </form>
    </div>
    <table class="table table-bordered table-striped">
      <thead>
      <tr>
        <th>Cedula</th>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Rol</th>
        <th>Fecha Registro</th>
        <th>Editar</th>
        <th>Eliminar</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let persona of personas  | paginate: { itemsPerPage: 5, currentPage: p }; let i = index">
        <td>{{ persona.cedula }}</td>
        <td>{{persona.nombre}}</td>
        <td>{{ persona.apellido }}</td>
        <td>{{ persona.rol.rol}}</td>
        <td>
          {{ persona.fecha_registro ? persona.fecha_registro.toString().split("T")[0] : 'NA' }}
        </td>
        <td>
          <button type="button" name="button" (click)="edit(i)" class="btn btn-primary">Editar</button>
        </td>
        <td>
          <button type="button" (click)="eliminarPersona(persona.id_persona)" class="btn btn-danger">Eliminar</button>
        </td>
      </tr>
      <tr *ngIf="filaEditada !== null">
        <td [attr.colspan]="8">
          <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
            <h1>Editar</h1>
            <c-input-group class="mb-3">
          <span cInputGroupText>
            <svg cIcon name="cilUser"></svg>
          </span>
              <input formControlName="cedula" cFormControl placeholder="Cedula" />
            </c-input-group>
            <c-input-group class="mb-3">
          <span cInputGroupText>
            <svg cIcon name="cilUser"></svg>
          </span>
              <input formControlName="nombre" cFormControl placeholder="Nombre" />
            </c-input-group>
            <c-input-group class="mb-3">
          <span cInputGroupText>
            <svg cIcon name="cilUser"></svg>
          </span>
              <input formControlName="apellido" cFormControl placeholder="Apellido" />
            </c-input-group>
            <c-input-group class="mb-3">
          <span cInputGroupText>
            <svg cIcon name="cilCreditCard"></svg>
          </span>
              <select class="form-select" formControlName="rol" cFormControl>
                <option value="" disabled selected>Seleccione un Rol</option>
                <option *ngFor="let rol of roles" [value]="rol.id_rol">
                  {{ rol.rol }}
                </option>
              </select>
            </c-input-group>
            <div class="d-grid">
              <button cButton color="success" type="submit">Guardar Cambios</button>
            </div><br>
            <div class="d-grid">
              <button cButton color="secondary" type="button" (click)="cancelarEdicion()">Cancelar</button>
            </div>
          </form>
        </td>
      </tr>
      </tbody>
    </table>
    <div class="d-flex justify-content-center mt-3">
      <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </div>
  </div>
</div>


